{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">What health conditions, illnesses, disabilities or injuries do you have?</h1>

      <form action="/3/other-conditions-3" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Name of condition",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Put what’s on your current fit note (you might call this a ‘sick note’), if you have one."
          },
          classes: "govuk-input--width-12",
          id: "condition-name-3",
          name: "condition-name-3",
          value: data['condition-name-3']
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="date-start-3-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">When it first started (this can be an estimate)
            </legend>
            <span id="date-start-3-hint" class="govuk-hint">
              For example, 30 3 2010
            </span>
            <div class="govuk-date-input" id="date-start-3">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-3-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="date-start-3-day" name="date-start-3-day" type="number" pattern="[0-9]*" value="{{ data['date-start-3-day'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-3-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="date-start-3-month" name="date-start-3-month" type="number" pattern="[0-9]*" value="{{ data['date-start-3-month'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-3-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-start-3-year" name="date-start-3-year" type="number" pattern="[0-9]*" value="{{ data['date-start-3-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>{# /govuk-form-group #}

        <button class="govuk-button">Continue</button>

      </form>
      
    </div>
  </div>
{% endblock %}