{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <h1 class="govuk-heading-xl">Conditions you have told us about</h1>

   <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        {{ data['condition-name-1'] | capitalize }}
      </dt>
      <dd class="govuk-summary-list__value">
        First started:<br>
        {{ data['date-start-1-day'] }}{{ data['date-start-1-month'] }}{{ data['date-start-1-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="condition-1">
              Change<span class="govuk-visually-hidden"> {{ data['condition-name-1'] }}</span>
            </a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="delete">
              Delete<span class="govuk-visually-hidden"> condition 1</span>
            </a>
          </li>
        </ul>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        {{ data['condition-name-2'] | capitalize }}
      </dt>
      <dd class="govuk-summary-list__value">
        First started:<br>
        {{ data['date-start-2-day'] }}{{ data['date-start-2-month'] }}{{ data['date-start-2-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="condition-2">
              Change<span class="govuk-visually-hidden"> condition 2</span>
            </a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="delete">
              Delete<span class="govuk-visually-hidden"> condition 2</span>
            </a>
          </li>
        </ul>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
        {{ data['condition-name-3'] | capitalize }}
      </dt>
      <dd class="govuk-summary-list__value">
        First started:<br>
        {{ data['date-start-3-day'] }}{{ data['date-start-3-month'] }}{{ data['date-start-3-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="condition-3">
              Change<span class="govuk-visually-hidden"> condition 3</span>
            </a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="delete">
              Delete<span class="govuk-visually-hidden"> condition 3</span>
            </a>
          </li>
        </ul>
      </dd>
    </div>

  </dl>

  <form class="form" action="done" method="post">

    <h2 class="govuk-heading-l">Do you have any other conditions?</h2>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yes" name="other-conditions" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="no" name="other-conditions" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button">Continue</button>

  </form>

</div>
</div>
{% endblock %}