
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">‘Add another’ patterns to test with screen reader users</h1>

    <ol class="govuk-list govuk-list--number">
{#       <li><a href="1/hmcts-pattern">HMCTS ‘Add another’ pattern</a></li> #}
      <li><a href="2/index">Single page pattern (based on MOJ example)</a></li>
      <li><a href="3/condition">Looping pattern</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
