
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">‘Add another’ patterns to test with screen reader users</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="hmcts-pattern">HMCTS ‘Add another’ pattern</a></li>
      <li><a href="moj-pattern">MOJ pattern</a></li>
      <li><a href="looping-index">Looping pattern</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
